/* Nav */
nav {
    display: none;
}

/* Banner*/

.home.banner {
    display: none;
}

/* MAIN */

main.home {
    width: 100%;
    margin: 0 auto;  
}

/* SECTION */

.container-article {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.home .section-title {
    margin: 25px 0;
    color: var(--gris-oscuro);
    text-align: center;
}

.home .card {
    background-color: white;
    margin-bottom: 10px;
}

.home .card .card-content {
    border-top: 1px solid var(--gris-claro);
    padding: 15px;
    position: relative;
}

.home .card .card-content .icon-truck {
    border: 1px solid var(--verde);
    border-radius: 50%;
    width: fit-content;
    width: -moz-fit-content; 
    padding: 5px;
    position: absolute;
    top: -15px;
    right: 20px;
}

.home .card .card-content .icon-truck i {
    color: var(--verde);
    font-size: 16px;
}

.card-content .icon-truck i:hover{
    transform: rotate(-90deg);
    transition: 1.2s ;
}

.home .card .card-content .product-info {
    display: flex;
    padding-top: 5px;
}

/* .home .card .card-content .product-info p{

}
 */
.home .card .card-content .product-info p:nth-child(1){
    flex-grow: 0.05;
}

.home .card .card-content .product-info p:nth-child(2){
    color: var(--verde);
    font-size: 14px; 
}

.home .card .card-content .product-name {
    display: none;
    color: var(--gris-oscuro);
    font-size: 15px;
    margin-top: 15px;
}
