:root {
    /* colores */
    --amarillo: #eac926;
    --azul: #03264C;
    --celeste: #0f49a1;
    --gris-oscuro: #666;
    --gris-claro: #ebebeb;
    --verde: #39b54a;
    /* Fuentes */
    --font-roboto: "Roboto", sans-serif;
    --paragraph: 12px;
    --title: 24px;
    --prices: 18px;
    --descounts-descriptions: 16px;
}