<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <header>
        <div class="container-desktop">
            <div class="container-logo">
                <a href="http://localhost:3030/#" class="logo"><img src="images/logo-mercado-liebre.svg" class="logo__img"></a>
                <form class="form" id="search-bar" action="">
                    <input class="input" type="text" placeholder="Buscar productos...">
                    <button class="button" type="submit"><i class="fas fa-search"></i></button>
                </form>
            </div>
            <p class="quota"><i class="fas fa-hand-holding-usd"></i>Compra en cuotas y sin tarjeta de crédito</p>
        </div>
        <nav class="nav-mercadoliebre">
            <ul id="top-list">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul>
                <li><a href="#">Crea tu cuenta</a> <i class="far fa-address-card"></i></li>
                <li><a href="#">Ingresa</a> <i class="fas fa-sign-in-alt"></i></li>
                <li><a href="#">Mis compras</a> <i class="fas fa-shopping-basket"></i></li>
            </ul>
        </nav>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
    </header>
    <main class="home">
        <div>
            <img src="images/img-home-banner.jpg" width="100%" class="banner" alt="Imagen con ofertas">
        </div>
        <section class="container-article">
            <h3 class="section-title">Basado en tu ultima visita</h3>
            <div class="container-cards">
                <article class="card">
                    <img src="images/img-cafetera-moulinex.jpg" width="100%" alt="imagen de la cafetera">
                    <div class="card-content">
                        <div class="icon-truck">
                            <i class="fas fa-truck"></i>
                        </div>
                        <div class="product-info">
                            <p>$6.770</p>
                            <p>40% OFF</p>
                        </div>
                        <h5 class="product-name">Cafetera Moulinex</h5>
                    </div>      
                </article>
                <article class="card">
                    <img src="images/img-macbook-pro-2019.jpg" width="100%" alt="imagen de MacBook">
                    <div class="card-content">
                        <div class="icon-truck">
                            <i class="fas fa-truck"></i>
                        </div>
                        <div class="product-info">
                            <p class="precio">$230.000</p>                      
                            <p class="descuento">20% OFF</p>
                        </div>
                        <h5 class="product-name">MacBook Pro 2019</h5> 
                    </div>
                </article>
                <article class="card">
                    <img src="images/img-samsung-galaxy-s10.jpg" width="100%" alt="imagen del Samsung Galxy">
                    <div class="card-content">
                        <div class="icon-truck">
                            <i class="fas fa-truck"></i>
                        </div>
                        <div class="product-info">
                            <p class="precio">$70.500</p>
                            <p class="descuento">10% OFF</p>
                        </div>
                        <h5 class="product-name">Samsung Galaxy S10</h5>
                    </div>
                </article>
                <article class="card">
                    <img src="images/img-tv-samsung-smart.jpg" width="100%" alt="imagen del SmartTv">
                    <div class="card-content">
                        <div class="icon-truck">
                            <i class="fas fa-truck"></i>
                        </div>
                        <div class="product-info">
                            <p class="precio">$23.200</p>
                            <p class="descuento">5% OFF</p>
                        </div>
                        <h5 class="product-name">SmartTv Samsung 43"</h5>
                    </div>
                </article>
            </div>
        </section>
        <section class="container-article">
            <h3 class="section-title">Sección de Ofertas</h3>
            <div class="container-cards">
                <article class="card">
                    <img src="images/img-cafetera-moulinex.jpg" width="100%" alt="imagen de la cafetera">
                    <div class="card-content">
                        <div class="icon-truck">
                            <i class="fas fa-truck"></i>
                        </div>
                        <div class="product-info">
                            <p>$6.770</p>
                            <p>40% OFF</p>
                        </div>
                        <h5 class="product-name">Cafetera Moulinex</h5>
                    </div>      
                </article>
                <article class="card">
                    <img src="images/img-macbook-pro-2019.jpg" width="100%" alt="imagen de MacBook">
                    <div class="card-content">
                        <div class="icon-truck">
                            <i class="fas fa-truck"></i>
                        </div>
                        <div class="product-info">
                            <p class="precio">$230.000</p>                      
                            <p class="descuento">20% OFF</p>
                        </div>
                        <h5 class="product-name">MacBook Pro 2019</h5> 
                    </div>
                </article>
                <article class="card">
                    <img src="images/img-samsung-galaxy-s10.jpg" width="100%" alt="imagen del Samsung Galxy">
                    <div class="card-content">
                        <div class="icon-truck">
                            <i class="fas fa-truck"></i>
                        </div>
                        <div class="product-info">
                            <p class="precio">$70.500</p>
                            <p class="descuento">10% OFF</p>
                        </div>
                        <h5 class="product-name">Samsung Galaxy S10</h5>
                    </div>
                </article>
                <article class="card">
                    <img src="images/img-tv-samsung-smart.jpg" width="100%" alt="imagen del SmartTv">
                    <div class="card-content">
                        <div class="icon-truck">
                            <i class="fas fa-truck"></i>
                        </div>
                        <div class="product-info">
                            <p class="precio">$23.200</p>
                            <p class="descuento">5% OFF</p>
                        </div>
                        <h5 class="product-name">SmartTv Samsung 43"</h5>
                    </div>
                </article>
            </div>
            </article>
        </section>
    </main>
    <footer>
        <div class="div-article-footer">
            <article class="footer-article">
                <i class="fas fa-credit-card"></i>
                <h5>Pagá con tarjeta o en efectivo</h5>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
            </article>
            <article class="footer-article">
                <i class="fas fa-gift"></i>
                <h5>Envío gratis desde $ 2.500</h5>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
            </article>
            <article class="footer-article">
                <i class="fas fa-user-shield"></i>
                <h5>Seguridad, de principio a fin</h5>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
            </article>
        </div>
        <p class="copy">Copyright ©️ 1999-2020 MercadoLiebre S.R.L.</p>
    </footer>

</body>
</html>