<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>BABBAGE</title>
</head>
<body>
    <header>
        <div class="container">
            <nav class="navbar">
            <ul>
                <li><a href="/">HOME</a></li>
                <li><a href="/babbage">BABBAGE</a></li>
                <li><a href="/berners-lee">BERNERS LEE</a></li>
                <li><a href="/clarke">CLARKE</a></li>
                <li><a href="/hamilton">HAMILTON</a></li>
                <li><a href="/hopper">HOPPER</a></li>
                <li><a href="/lovelace">LOVELACE</a></li>
                <li><a href="/turing">TURING</a></li>
            </ul>
        </nav>
        </div>
    </header>
    <section>
        <article class="heroes">
            <div class="dh">
                <img src="/img/babbage.jpg" alt="foto de Babbage">
            </div>
            <div class="dh">
                <h1>Charles Babbage</h1>
                <p>(Teignmouth, 1792 - Londres, 1871) Matemático e ingeniero británico, inventor de las máquinas calculadoras programables. A comienzos del siglo XIX, bien avanzada la Revolución Industrial, los errores en los datos matemáticos tenían graves consecuencias: por ejemplo, una tabla de navegación defectuosa era una causa frecuente de los naufragios. Charles Babbage creyó que una máquina podía hacer cálculos matemáticos más rápidos y más precisos que las personas.</p>
                <p>En 1822 produjo un modelo funcional pequeño de su Difference engine (máquina diferencial). El funcionamiento aritmético de la máquina era limitado, pero podía recopilar e imprimir tablas matemáticas sin mayor intervención humana que la necesaria para girar las manivelas en la parte superior del prototipo.</p>
                <p> Babbage es considerado el principal pionero de la informática por su siguiente invención, la máquina analítica o Analytical engine. En su diseño teórico, la máquina analítica contenía ya todas las partes esenciales de la computadora moderna: dispositivo de entrada, memoria, unidad central de procesamiento e impresora. La máquina analítica ha pasado a la historia como el prototipo del ordenador moderno, aunque nunca se construyó un modelo a escala real. Pero, aun si se hubiera construido, la máquina analítica habría sido movida por una máquina de vapor y, debido a sus componentes totalmente mecánicos, su velocidad de cálculo no hubiera sido muy grande.</p>
                <p>A finales del siglo XIX, el ingeniero estadounidense Herman Hollerith utilizó una tecnología nueva,la electricidad, cuando sometió a consideración del gobierno de Estados Unidos un proyecto paraconstruir una máquina que fue finalmente utilizada para computar los datos del censo de 1890.Hollerith fundó a continuación la compañía que más tarde se convertiría en IBM.</p>
            </div>
        </article>
    </section>
    <footer>
        <small> &#169; Copyright 2022 &#8212; DH&nbsp;HEROES &#8212; <span>Diseñado por Mariana Soledad Blanez</span></small>
    </footer>
</body>
</html>