<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>BERNERS LEE</title>
</head>
<body>
    <header>
        <div class="container">
            <nav class="navbar">
            <ul>
                <li><a href="/">HOME</a></li>
                <li><a href="/babbage">BABBAGE</a></li>
                <li><a href="/berners-lee">BERNERS LEE</a></li>
                <li><a href="/clarke">CLARKE</a></li>
                <li><a href="/hamilton">HAMILTON</a></li>
                <li><a href="/hopper">HOPPER</a></li>
                <li><a href="/lovelace">LOVELACE</a></li>
                <li><a href="/turing">TURING</a></li>
            </ul>
        </nav>
        </div>
    </header>
    <section>
        <article class="heroes">
            <div class="dh">
                <img src="/img/berners-lee.jpg" alt="foto de berners-lee">
            </div>
            <div class="dh">
                <h1>Tim Berners-Lee</h1>
                <p>(Londres, 1995). Científico de la computación británico. Habilitó un sistema para poder ver páginas web o documentos de hipertexto por medio de Internet. También se desempeña como director del World Wide Web Consorcio (W3C), que supervisa los estándares para Internet y la World Wide Web. Tim Berners-Lee también se preocupa por cuestiones relacionadas con la libertad de información y la censura que se da en Internet.</p>
                <p>Desarrolló lo que por sus siglas en inglés se denomina: HTML o Lenguaje de Etiquetas de Hipertexto; el protocolo HTTP (HyperText Transfer Protocol), y el sistema de localización de objetos en la web URL (Uniform Resource Locator).</p>
                <p>Es importante porque fue la primera persona que logró establecer la comunicación entre un servidor y un cliente utilizando el protocolo HTTP, supervisó y estandarizó el desarrollo de las tecnologías necesarias sobre las cuales se encuentra fundada la Web y además que permiten el adecuado funcionamiento del internet, además de la creación del lenguaje HTML.</p>
            </div>
        </article>
    </section>
    <footer>
        <small> &#169; Copyright 2022 &#8212; DH&nbsp;HEROES &#8212; <span>Diseñado por Mariana Soledad Blanez</span></small>
    </footer>
</body>
</html>