<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>CLARKE</title>
</head>
<body>
    <header>
        <div class="container">
            <nav class="navbar">
            <ul>
                <li><a href="/">HOME</a></li>
                <li><a href="/babbage">BABBAGE</a></li>
                <li><a href="/berners-lee">BERNERS LEE</a></li>
                <li><a href="/clarke">CLARKE</a></li>
                <li><a href="/hamilton">HAMILTON</a></li>
                <li><a href="/hopper">HOPPER</a></li>
                <li><a href="/lovelace">LOVELACE</a></li>
                <li><a href="/turing">TURING</a></li>
            </ul>
        </nav>
        </div>
    </header>
    <section>
        <article class="heroes">
            <div class="dh">
                <img src="/img/clarke.jpg" alt="foto de CLARKE">
            </div>
            <div class="dh">
                <h1>Joan Clarke</h1>
                <p>(Londres, 1917 - Oxford, 1996) Matemática y criptoanalista, tuvo un rol central en la hazaña que implicó descifrar el Código Enigma utilizado por los alemanes, durante la Segunda Guerra Mundial. La británica trabajó codo a codo junto a Alan Turing y su equipo para desentrañar el funcionamiento de ese sistema que se usaba para codificar mensajes.</p>
                <p>Su ingenio la destacó ante el resto y su profesor de Geometría, Gordon Welchman, la convocó para trabajar en Bletchley Park para la Escuela Gubernamental de Código y Cifrado (GCCS), que tenía como finalidad descifrar cómo funcionaba la máquina Enigma que utilizaban los alemanes para comunicarse de manera secreta.</p>
                <p>En 1940 se incorporó al equipo de trabajo que se había originado el año anterior. En un comienzo fue parte del grupo denominado "Las Niñas", donde había otras mujeres haciendo trabajos de asistencia y soporte para los hombres; pero al poco tiempo se incorporó a la sección Hut 8 donde estaba Turing con quien forjó una amistad que duró toda la vida.</p>
            </div>
        </article>
    </section>
    <footer>
        <small> &#169; Copyright 2022 &#8212; DH&nbsp;HEROES &#8212; <span>Diseñado por Mariana Soledad Blanez</span></small>
    </footer>
</body>
</html>