<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>HAMILTON</title>
</head>
<body>
    <header>
        <div class="container">
            <nav class="navbar">
            <ul>
                <li><a href="/">HOME</a></li>
                <li><a href="/babbage">BABBAGE</a></li>
                <li><a href="/berners-lee">BERNERS LEE</a></li>
                <li><a href="/clarke">CLARKE</a></li>
                <li><a href="/hamilton">HAMILTON</a></li>
                <li><a href="/hopper">HOPPER</a></li>
                <li><a href="/lovelace">LOVELACE</a></li>
                <li><a href="/turing">TURING</a></li>
            </ul>
        </nav>
        </div>
    </header>
    <section>
        <article class="heroes">
            <div class="dh">
                <img src="/img/hamilton.jpg" alt="foto de hamilton">
            </div>
            <div class="dh">
                <h1>Margaret Hamilton</h1>
                <p>(Indiana, 1936). Científica computacional, matemática e ingeniera de Software estadounidense. A la edad de 24 años y con tan sólo dos años de graduada tuvo la oportunidad de entrar a trabajar en Instituto de Tecnología de Massachussets (MIT por sus siglas en inglés). Donde estuvo coordinada por el profesor Edward Norton Lorenz, a quien le aprendió nuevos conocimientos; además aprendió diversos lenguajes de programación, pero cabe destacar que todo fue de manera autodidacta. Las grandes enseñanzas que obtuvo y las mismas que ella aprendió, fueron notables y suficientes para destacar entre los demás.</p>
                <p>Gracias a sus conocimientos, fue una de las encargadas del proyecto Sage Philco-Ford, en el que tenía la responsabilidad de desarrollar un software para el primer ordenador que buscaba aeronaves desconocidas en el espacio aéreo. El grandioso éxito que consiguió a raíz de esa misión le permitió trabajar en el Laboratorio Charles Stark Draper del mismo instituto, el cual trabajaba para el Programa Apolo. La puerta de entrada a este nuevo proyecto le cambiaría la vida, y no sólo a ella, sino que, a la humanidad.</p>
                <p>El gobierno norteamericano pidió al MIT que Hamilton participará en el programa espacial y así fue como junto a su equipo diseñaron parte del software que hacía funcionar el Módulo de Mando y el Módulo Lunar de la misión Apolo 11.</p>
                <p>La matemática había diseñado un sistema “asicrono”, que permitía dar prioridad a las funciones imprescindibles, descartando las que no lo eran. Gracias a ese sistema fue como tuvo éxito el Apolo 11, pues minutos antes de que pisaran la Luna se dispararon alarmas debido a un error y con su software evitó una enorme crisis que habría sobrecargado al ordenador.</p>
            </div>
        </article>
    </section>
    <footer>
        <small> &#169; Copyright 2022 &#8212; DH&nbsp;HEROES &#8212; <span>Diseñado por Mariana Soledad Blanez</span></small>
    </footer>
</body>
</html>