<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>HOPPER</title>
</head>
<body>
    <header>
        <div class="container">
            <nav class="navbar">
            <ul>
                <li><a href="/">HOME</a></li>
                <li><a href="/babbage">BABBAGE</a></li>
                <li><a href="/berners-lee">BERNERS LEE</a></li>
                <li><a href="/clarke">CLARKE</a></li>
                <li><a href="/hamilton">HAMILTON</a></li>
                <li><a href="/hopper">HOPPER</a></li>
                <li><a href="/lovelace">LOVELACE</a></li>
                <li><a href="/turing">TURING</a></li>
            </ul>
        </nav>
        </div>
    </header>
    <section>
        <article class="heroes">
            <div class="dh">
                <img src="/img/hopper.jpg" alt="foto de Hopper">
            </div>
            <div class="dh">
                <h1>Grace Hopper</h1>
                <p>(New York, 1906 - Virginia, 1992). Científica de la computación y militar estadounidense con grado de contraalmirante.  Estudió matemáticas en la Universidad de Yale, donde también obtuvo el doctorado. Se unió a las fuerzas armadas y fue enviada a Harvard para completar sus estudios en ingeniería y física aplicada al laboratorio de computación. Desde 1944 comenzó a trabajar con Aiken en el ordenador Mark 1 de Harvard. Posteriormente se uniría a John Eckert y John Mauhly en el ordenador UNIVAC.</p>
                <p>Fue la creadora del primer compilador de ordenadores en 1952. Este software revolucionario permitió la primera programación automática de un lenguaje de computación. Asimismo, en 1959, inventó el COBOL (Common Business Oriented Language) el primer lenguaje de programación dedicado a la administración. </p>
                <p>Posteriormente trabajó en la estandarización internacional de los lenguajes de programación y trabajó fuertemente en los procedimientos de validación. Mencionaba que la clave de su éxito se basó en reconocer que "la mayoría de los problemas en la vida tienen más de una solución". </p>
            </div>
        </article>
    </section>
    <footer>
        <small> &#169; Copyright 2022 &#8212; DH&nbsp;HEROES &#8212; <span>Diseñado por Mariana Soledad Blanez</span></small>
    </footer>
</body>
</html>