<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DH - Héroes</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header>
        <div class="header">
            <nav class="navbar">
                <ul>
                    <li><a href="/">HOME</a></li>
                    <li><a href="/babbage">BABBAGE</a></li>
                    <li><a href="/berners-lee">BERNERS LEE</a></li>
                    <li><a href="/clarke">CLARKE</a></li>
                    <li><a href="/hamilton">HAMILTON</a></li>
                    <li><a href="/hopper">HOPPER</a></li>
                    <li><a href="/lovelace">LOVELACE</a></li>
                    <li><a href="/turing">TURING</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <section>
        <h1>¡TE INVITAMOS A CONOCER A NUESTROS HEROES!</h1>
        <br>
        <div class="contenedor">
            <div class="card">
                <a href="babbage">
                    <img src="/img/Babbage.jpg" alt="Foto de Charles Babbage">
                    <h4>Charles Babbage</h4>
                    <p>Fue un matemático y científico de la computación británico. ​Diseñó y desarrolló una calculadora
                        mecánica.</p>
                </a>
            </div>
            <div class="card">
                <a href="berners-lee">
                    <img src="/img/berners-lee.jpg" alt="Foto de Tim Berners-Lee">
                    <h4>Tim Berners-Lee</h4>
                    <p>Es un científico de la computación británico, conocido por ser el padre de la World Wide Web.</p>
                </a>
            </div>
            <div class="card">
                <a href="clarke">
                    <img src="/img/clarke.jpg" alt="Foto de Joan Clarke">
                    <h4>Joan Clarke</h4>
                    <p>Fue una criptoanalista y numismática británica que trabajó en Bletchley Park durante la Segunda
                        Guerra Mundial.</p>
                </a>
            </div>
        </div>
        <br>
        <div class="contenedor">
            <div class="card">
                <a href="hamilton">
                    <img src="/img/hamilton.jpg" alt="Foto de Margaret Hamilton">
                    <h4>Margaret Hamilton</h4>
                    <p>Es una científica computacional, matemática e ingeniera de Software estadounidense.​​​</p>
                </a>
            </div>
            <div class="card">
                <a href="hopper">
                    <img src="/img/hopper.jpg" alt="Foto de Grace Hopper">
                    <h4>Grace Hopper</h4>
                    <p>Fue una científica de la computación y militar estadounidense con grado de contraalmirante.</p>
                </a>
            </div>
            <div class="card">
                <a href="lovelace">
                    <img src="/img/lovelace.jpg" alt="Foto de Ada Lovelace">
                    <h4>Ada Lovelace</h4>
                    <p>Fue una matemática y escritora británica, célebre sobre todo por su trabajo acerca de la
                        computadora mecánica de uso general. </p>
                </a>
            </div>
        </div>
        <br>
        <div class="contenedor">
            <div class="card">
                <a href="turing">
                    <img src="/img/turing.jpg" alt="Foto de Alan Turing">
                    <h4>Alan Turing</h4>
                    <p>Fue un matemático, lógico, informático teórico, criptógrafo, filósofo y biólogo teórico
                        británico.</p>
                </a>
            </div>
        </div>
        <h1>¡GRACIAS POR VISITARNOS!</h1>
    </section>


    <footer>
        <h4>
            <copyright->Todos los derechos reservados-Comision 17-Digital House</copyright->
        </h4>
    </footer>

</body>

</html>