<!DOCTYPE html>
<html lang="es">

  <!DOCTYPE html>
  <html lang="es">
  <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="/css/style.css">
      <title>LOVELACE</title>
  </head>
  <body>
      <header>
          <div class="container">
              <nav class="navbar">
              <ul>
                  <li><a href="/">HOME</a></li>
                  <li><a href="/babbage">BABBAGE</a></li>
                  <li><a href="/berners-lee">BERNERS LEE</a></li>
                  <li><a href="/clarke">CLARKE</a></li>
                  <li><a href="/hamilton">HAMILTON</a></li>
                  <li><a href="/hopper">HOPPER</a></li>
                  <li><a href="/lovelace">LOVELACE</a></li>
                  <li><a href="/turing">TURING</a></li>
              </ul>
          </nav>
          </div>
      </header>
      <section>
          <article class="heroes">
              <div class="dh">
                  <img src="/img/lovelace.jpg" alt="foto de lovelace">
              </div>
              <div class="dh">
                  <h1>Ada Lovelace</h1>
                  <p>(Londres, 1815 - Londres, 1852) Matemática y escritora inglesa, revolucionó la ciencia con sus conocimientos matemáticos ideando, con el apoyo de sus amigos inventores, el primer programa informático. Lo más increíble de su historia, es que lo diseño cuando aún no existían los ordenadores.</p>
                  <p>Cuando Ada vio por primera vez una máquina analítica, la antecesora de los ordenadores modernos, tuvo claro que quería trabajar con su creador, el científico Charles Babbage. Tradujo al inglés un documento publicado en una revista francesa sobre el invento de Babbage, y le añadió un artículo conocido como la Nota G, que incluye un programa para calcular números Bernoulli.</p>
                  <p>Las anotaciones de esta científica mostraban ideas avanzadas sobre programación e incluían el sistema de tarjetas perforadas, inspirado en el telar de Jacquard, que sería el que se utilizaría para programar los primeros ordenadores a mediados del siglo XX.</p>
                  <p>Tras muchas colaboraciones con Baggage, esta pionera falleció con tan solo 37 años de edad. Él a su vez, seguiría trabajando hasta su muerte, 20 años después, pero nunca conseguiría construirla. Tras el fallecimiento de ambos, su trabajo fue olvidado, hasta la década de 1950 cuando salió a la luz todas las anotaciones y trabajos que facilitarían lo que hoy conocemos como informática.</p>
                  <p>A modo de reconocimiento, desde el año 2009 se celebra el segundo martes de octubre “El día de Ada Lovelace” para dar visibilizar al trabajo que han hecho las mujeres en la ciencia y tecnología. Tras los pasos de Ada, han sido muchas mujeres las que han contribuido en los primeros ordenadores y en los lenguajes de programación.</p>
              </div>
          </article>
      </section>
      <footer>
          <small> &#169; Copyright 2022 &#8212; DH&nbsp;HEROES &#8212; <span>Diseñado por Mariana Soledad Blanez</span></small>
      </footer>
  </body>
  </html>