<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
    <title>TURING</title>
</head>
<body>
    <header>
        <div class="container">
            <nav class="navbar">
            <ul>
                <li><a href="/">HOME</a></li>
                <li><a href="/babbage">BABBAGE</a></li>
                <li><a href="/berners-lee">BERNERS LEE</a></li>
                <li><a href="/clarke">CLARKE</a></li>
                <li><a href="/hamilton">HAMILTON</a></li>
                <li><a href="/hopper">HOPPER</a></li>
                <li><a href="/lovelace">LOVELACE</a></li>
                <li><a href="/turing">TURING</a></li>
            </ul>
        </nav>
        </div>
    </header>
    <section>
        <article class="heroes">
            <div class="dh">
                <img src="/img/turing.jpg" alt="foto de turing">
            </div>
            <div class="dh">
                <h1>Alan Turing</h1>
                <p>(Londres, 1912 - Wilmslow, 1954). Matemático, lógico, informático teórico, criptógrafo, filósofo y biólogo teórico británico. Pasó sus primeros trece años en la India, donde su padre trabajaba en la Administración colonial. De regreso al Reino Unido, estudió en el King's College y, tras su graduación, se trasladó a la Universidad estadounidense de Princeton, donde trabajó con el lógico Alonzo Church.</p>
                <p>En 1937 publicó un célebre artículo en el que definió una máquina calculadora de capacidad infinita (máquina de Turing) que operaba basándose en una serie de instrucciones lógicas, sentando así las bases del concepto moderno de algoritmo. Turing describió en términos matemáticos precisos cómo un sistema automático con reglas extremadamente simples podía efectuar toda clase de operaciones matemáticas expresadas en un lenguaje formal determinado. La máquina de Turing era tanto un ejemplo de su teoría de computación como una prueba de que un cierto tipo de máquina computadora podía ser construida.</p>
                <p>La Segunda Guerra Mundial ofreció un insospechado marco de aplicación práctica de sus teorías, al surgir la necesidad de descifrar los mensajes codificados que la Marina alemana empleaba para enviar instrucciones a los submarinos que hostigaban los convoyes de ayuda material enviados desde Estados Unidos; Turing, al mando de una división de la Inteligencia británica, diseñó tanto los procesos como las máquinas que, capaces de efectuar cálculos combinatorios mucho más rápidamente que cualquier ser humano, fueron decisivos en la ruptura final del código.</p>
                <p>Alan Turing definió además un método teórico para decidir si una máquina era capaz de pensar como un hombre (test de Turing) y realizó contribuciones a otras ramas de la matemática aplicada, como la aplicación de métodos analíticos y mecánicos al problema biológico de la morfogénesis. En el ámbito personal, su condición de homosexual fue motivo constante de fuertes presiones sociales y familiares, hasta el punto de especularse si su muerte por intoxicación fue accidental o se debió a un intento de suicidio.</p>
            </div>
        </article>
    </section>
    <footer>
        <small> &#169; Copyright 2022 &#8212; DH&nbsp;HEROES &#8212; <span>Diseñado por Mariana Soledad Blanez</span></small>
    </footer>
</body>
</html>